<div class="container mt-5 mb-5">

    <h1 class="text-center">About</h1>

    <p>
        This content is provided for informational purposes only and is not intended as legal, accounting, tax, HR, or other professional advice. You are responsible for your own compliance with laws and regulations.
        You should contact your attorney or other relevant advisor for advice specific to your circumstances.
        <br/>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. At itaque, voluptates placeat ratione saepe autem eos expedita quasi velit dolore libero debitis ipsa nisi quaerat, labore ex obcaecati. Iusto, repellendus.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum quod et nam expedita labore enim numquam qui suscipit assumenda voluptas ducimus, perferendis quae aliquid illum debitis provident ad illo id!
        <br/>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit ea mollitia tempora quos ipsam ratione, error ut veritatis temporibus sunt eum inventore magni cum qui laudantium beatae suscipit quo nihil?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus deserunt minima, alias assumenda reprehenderit voluptate at architecto dolorum atque dolorem consequuntur, ipsum obcaecati aperiam tempora mollitia nostrum corrupti consequatur quia.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero quis autem accusamus, ea, ratione beatae ut, perspiciatis dolor optio pariatur praesentium atque aliquam qui nesciunt quae. Porro quas vitae ex.
        <br/>
    </p>

</div>
